<div class="pages_body">
  <h1>// About</h1>
</div>

<div class="page_content">

  <p class="page_text_block">
    The OCNL Solar Lab is a one-of-a-kind laboratory facility designed for undergraduate students enrolled in energy courses and faculty research at CSU, Chico. It consists of a pole-mounted PV solar array with six, Suntech STP270-24 (270-watt) modules mounted to a Wattsun AZ-125 tracker (now known as the <a href="http://arraytechinc.com/wp-content/uploads/NEW-DuraTrack-DA-Datasheet.pdf">DuraTrack DA</a>). The WattSun unit is a motorized, gear-driven tracker that moves the array in two axes with closed-loop optical control to provide near-perfect tracking with the sun. The unit is supported by a 6-inch diameter, 7-foot tall pole that is flange-mounted to a structural member of the O’Connell Technology Center building roof. The facility is located in a separate roof alcove that allows safe, easy access from the 4th floor lobby area near the Mechanical and Mechatronic Engineering and Sustainable Manufacturing Department office.
  </p>

  <p class="page_text_block">
    Each PV module is connected to an Azuray Power Optimizer that provides module–level MPPT and real-time DC power output that reports to a website through the ACM300 communications gateway. This feature allows one to conduct experiments, such as shading, soiling, and cooling studies, and measure their effects on the power output of individual modules. For example, one PV module is fitted with a <a href="http://www.sundrumsolar.com/index.html">SunDrum Solar Collector</a> that circulates water and removes heat from the back side of the module to a 30-gal hot water system for study. The effect of module cooling on electric power output can be studied as well.
  </p>

  <p class="page_text_block">
    The PV array can be configured as an off-grid or grid-tie power system. The PV array is connected to an <a href="http://www.outbackpower.com/outback-products/charge-controllers/item/flexmax-6080?category_id=438">Outback Power FLEXmax 80 Charge Controller</a> that charges a 24-volt, 400Ah battery bank consisting of eight, 6-volt <a href="http://upgi.com/Themes/leanandgreen/images/UPG/ProductDownloads/45966.pdf">UPGC2 AGM</a> batteries. The battery DC power is converted to AC with an <a href="http://www.outbackpower.com/index.php/outback-products/inverters-chargers/item/vented-gvfx3524?category_id=517">Outback Power GVFX3524 Grid-Interactive/Off-Grid Inverter</a> that can:

    <ol type="i">
     <li> Provide AC power to local off-grid loads</li>
     <li> Charge the battery bank from the grid during periods of cloudy weather</li>
     <li> Provide AC power to the grid when surplus PV-generated power is available</li> 
    </ol>

  </p>

  <p class="page_text_block">
    The system is outfitted with various sensors and data logging equipment that allow students and faculty to monitor and evaluate the overall performance of the system. Various investigations are possible, for example: the effects of environmental conditions, tracking versus no tracking, soiling and/or shading, and module water cooling. Sensors include four pyranometers located along the perimeter of the array, an ambient temperature thermocouple, six back-of-module thermocouples, four thermocouples for measuring battery bank temperatures, four thermocouples for measuring water temperature in/out of the SunDrum collectors and at bottom/top of the water storage tank, and a water flowmeter. The 1-min interval logged data, in addition to the ACM300 power output data, is uploaded to this website for convenient access to real-time data and archived data.
  </p>

  <p class="page_text_block">
    The OCNL Solar Lab was designed by Mechanical Engineering faculty member Dr. Greg Kallio and constructed by Steve Eckart, Dave Gislon, and Scott Vanni of the College of ECC Technical Shops. The project was funded by a CSUC Research Foundation Scholars Award, a CSUC Student Learning Fee Grant, a CSU Chancellor’s Office Campus as a Living Lab (CALL) Grant, MMEM Annual Fund donations, and a donation of PV modules from Chico Electric, Inc.
  </p>

  <h1>// Contact</h1>

  <div class="page_content">

    <p class="page_text_block">
      Questions regarding the design, fabrication, and operation of the Solar Lab can be addressed to:
    </p>

    <address>
      <img src="/images/kallio_contact.jpg" id="kallio_img"/> <br />
      <strong>Dr. Greg Kallio</strong> (<a href="http://www.csuchico.edu/mmem/faculty_staff/Gregory_Kallio.shtml">Website</a>) <br />
      Professor of Mechanical Engineering <br />
      Department of Mechanical and Mechatronic Engineering and Sustainable Manufacturing <br />
      O’Connell Technology Center, Room 419 <br />
      California State University, Chico <br />
      400 W. 1st Street <br />
      Chico, CA  95929-0789 <br />
      (530) 898-5346
    </address>

  </div>

</div>

