<div class="pages_body">
  <h1>// Contact</h1>
</div>

<div class="page_content">

  <p class="page_text_block">
    Questions regarding the design, fabrication, and operation of the Solar Lab can be addressed to:
  </p>

  <address>
    <img src="/images/kallio_contact.jpg" id="kallio_img"/> <br />
    <strong>Dr. Greg Kallio</strong> (<a href="http://www.csuchico.edu/mmem/faculty_staff/Gregory_Kallio.shtml">Website</a>) <br />
    Professor of Mechanical Engineering <br />
    Department of Mechanical and Mechatronic Engineering and Sustainable Manufacturing <br />
    O’Connell Technology Center, Room 419 <br />
    California State University, Chico <br />
    400 W. 1st Street <br />
    Chico, CA  95929-0789 <br />
    (530) 898-5346
  </address>

</div>