<div class="pages_body">
  <h1>// Gallery</h1>

  <div id="gallery">
    
    <div class="imageHolder">
        <a href="gallery/Solar_Lab_Crew.jpg"  target="_blank">
        <img src="gallery/Solar_Lab_Crew.jpg" class="gallery_img" />
        </a>
        
        <div class="caption">
            The OCNL Solar Lab team: Steve Eckart, Dave Gislon, Greg Kallio, Scott Vanni.
        </div>
    </div>

    <div class="imageHolder">
        <a href="gallery/Solar_array_battery_bank.jpg" target="_blank">
        <img src="gallery/Solar_array_battery_bank.jpg" class="gallery_img" />
        </a>
        <div class="caption">
            The team at work (me, posing). Steve is checking battery bank connections.
        </div>
    </div>

    <div class="imageHolder">
        <a href="gallery/OCNL_Solar_PV_Lab_June_2014.jpg"  target="_blank">
        <img src="gallery/OCNL_Solar_PV_Lab_June_2014.jpg" class="gallery_img" />
        </a>
        
        <div class="caption">
            Dave, making sure array doesn’t track into the wall
        </div>
    </div>

    <br />
    <br />

    <div class="imageHolder">
        <a href="gallery/Solar_array.jpg"  target="_blank">
        <img src="gallery/Solar_array.jpg" class="gallery_img" />
        </a>
        
        <div class="caption">
            PV array with shadow of wind turbine.
        </div>
    </div>

    <div class="imageHolder">
        <a href="gallery/Solar_lab_pole_mount_tracker_and_wiring.jpg"  target="_blank">
        <img src="gallery/Solar_lab_pole_mount_tracker_and_wiring.jpg" class="gallery_img" />
        </a>
        
        <div class="caption">
            Underside of array showing Wattsun tracker and Azuray Power Optimizer boxes.
        </div>
    </div>

    <div class="imageHolder">
        <a href="gallery/Solar_PV_lab_components.jpg"  target="_blank">
        <img src="gallery/Solar_PV_lab_components.jpg" class="gallery_img" />
        </a>
        
        <div class="caption">
            Electrical cabinet showing Dave’s handiwork – this houses the charge controller, inverter, dc disconnect box, ACM300 gateway, battery meter, sensor outputs, and more.
        </div>
    </div>

  </div>

</div>

