// Place all the styles related to the flukes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pagination_area {
  margin-top: -20px;
  padding: 0px 0px 10px 0px;
}

.pagination {
  font-family: Arial;
  font-size: 16px;
  .previous_page { color: #00A388; font-size: 18px; font-style: bold; padding-right: 20px; }
  .next_page { color: #FF6138; font-size: 18x; font-style: bold; padding-left: 20px; }
  .current { font-size: 20px;}
  .previous_page.disabled { color: #777; font-size: 18px; }
  .next_page.disabled {color: #777; font-size: 18px; }
}

table {
  white-space: nowrap;
  text-align: justify;
}

th {
  text-align: justify;
}

#fluke_datestamp {
  font-size: 1em;
}

#top_link {
  padding: 0px 0px 0px 0px;
}

.equip_info {
  padding-right: 30px;
  float: left;
}

#equip_desc {
  font-family: "Roboto";
  font-size: 2em;
  float: left;
}

#status {
  font-family: "Roboto";
  margin-top: 40px;
  float: left;
  position: relative;
  padding-bottom: 20px;
}

.search_fields{
  float: left;
  padding-top: 15px;
}

ul {
  list-style: none;
}